@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap&css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
/* DESIGN GENERALE */

@font-face {
    font-family: 'Rajdhani';
    src: url(../police/Rajdhani-Medium.ttf);
}



 /* === RESPONSIVE MOBILE === */    
@media (max-width: 768px) {
    body {
        font-size: 0.9em;
    }/* Réduction de la taille de police pour les petits écrans */  



:root {
  --yellow-color: #FFFF00;
  --yellow-light: #f8f184;
  --blue-color: #19587D;
  --white-color: #ffffff;
  --gradient-white: #eddebf5e;
  --gradient-red: #89000976;
  --black-color: #000000;
  --grey-color: #494848;
  --blue-color-dark:#152c38;
  --grey-color-dark: #3834346c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

h1, h2, h3, p, div, img{
  opacity: 0; /* initialement invisible */
  transform: translateX(-30px); /* déplacement vers la gauche */
  animation: fadeInLeft 2s ease-out forwards;
}

@keyframes fadeInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

h1{ 
  color: #ffffff;
  font-family: 'Rajdhani';
  font-size: 36px;
  font-weight: 400;
} 

.container {
 width: 80%;
 margin: 0 auto;
}

body{
  background-color: #000000;
  color : #ffffff;
  font-family: 'Space+Grotesk';
  font-weight: 500;
  font-size: 1.2rem;       /* taille relative à la racine */
  line-height: 1.5;
}


.up-bar {
  border-top:#494848 2px solid;
  position: relative;
  width: 87%;
  top: 132px;
  left: 102px;

}

.left-bar {
  border-left:#494848 2px solid;
  position: absolute;
  top: 0;
  left: 102px;
  width: 2px;
  height: 1000%; 
}

.right-bar {
  border-right:#494848 2px solid;
  position: absolute;
  top: 0;
  right: 95px;
  width: 2px;
  height: 1000%;
 }

/* DESIGN DE LA NAVIGATION */
 
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

ul {
  display: flex;
  list-style: none;
}

nav ul a {
  /* text-decoration: none; */
  color: var(--white-color);
  font-family: 'Rajdhani';
  font-size: 30px;
  font-weight: 500;
}

.logo {
  border-radius: 90%;
}

.logo:hover {
  border: 2px solid var(--yellow-color);
  transform: scale(1.15);   /* effet zoom léger lorsque la souris survol l'image */
  transition: all 0.6s ease; /* animation fluide */
  cursor: pointer;
}

/* 'Home' devient jaune lorsqu'on le survole  */
nav ul a:hover {
  color: var(--yellow-color);
  font-weight: bold;
}

/* DESIGN DE LA PARTIE HERO */

#hero {
  background-image: url(../Illustrations/Bathome1.png);
  height: 800px;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #000000;
  background-size: cover; 
  font-family: 'space+grotesk';
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding-top: 150px;
}

#hero .titre {
  margin: 20px 0;
}

#hero .cta{
  margin: 20px 0;
}

.btn {
  background : linear-gradient(80deg,var(--gradient-white),var(--gradient-red));  /* Dégradé de couleurs */
  text-decoration: none;  
  color: var(--white-color);
  padding: 10px 20px;
  cursor: pointer;
  font-size: 22px;
  box-shadow: var(--black-color) 15px 15px 50px;
  display: inline-block;
  font-family: 'Rajdhani';

}

.btn:hover {
  transform: scale(1.15);   /* effet zoom léger lorsque la souris survol le boutton*/
  transition: all 0.6s ease; /* animation fluide */
}

#hero .fleche {
  display: block;
  margin: 0 auto;
  margin-top: 280px;
}

.scroll{
  display: flex; 
  flex-direction: column; 
  align-items: center;
  position: fixed;
  right: 44px;
  top: 230px;
}

.scroll img {
  border: 2px solid transparent;
  margin-top: 15px;  
  border-radius: 50%;
}

.scroll img:hover {
  border: 2px solid var(--yellow-color);
  transform: scale(1.15);   /* effet zoom léger lorsque la souris survol l'image */
  transition: all 0.6s ease; /* animation fluide */
  cursor: pointer;
}

/* DESIGN SECTION Batman au cinéma*/

#batman-cinema {
  margin-top: 40px;
  font-family: 'Rajdhani';
}

.batman-personnages {
  display: flex;
  justify-content: space-between;
}

#batman-cinema .titre {
  text-transform: uppercase;
  font-weight: bold;
  margin : 30px 0;
}

#batman-cinema .description {
  margin-bottom: 40px;
  text-align: justify;
  width: 90%;
  font-size: 23px;
}

#batman-cinema .personnage-info {
  text-align: center;  
}

.batman-item img:hover {
  transform: scale(1.02);   /* effet zoom léger lorsque la souris survol l'image */
}

/* DESIGN SECTION Nemesis */

#nemesis {
  margin-top: 40px;
  font-family: 'Rajdhani';
}

.nemesis-personnages {
  display: flex;
  justify-content: space-between;
}

#nemesis .titre {
  text-transform: uppercase;
  font-weight: bold;
  margin : 30px 0;
}

#nemesis .description {
  margin-bottom: 40px;
  text-align: justify;
  width: 90%;
  font-size: 23px;
}

#nemesis .personnage-info {
  text-align: center;  
}

.nemesis-item img:hover {
  transform: scale(1.02);   /* effet zoom léger lorsque la souris survol l'image */
}

/* DESIGN SECTION Alliés */

#allies {
  margin-top: 40px;
  font-family: 'Rajdhani';
}

.allies-personnages {
  display: flex;
  justify-content: space-between;
}

#allies .titre {
  text-transform: uppercase;
  font-weight: bold;
  margin : 30px 0;
}

#allies .description {
  margin-bottom: 40px;
  text-align: justify;
  width: 90%;
  font-size: 23px;
}

#allies .personnage-info {
  text-align: center;  
}

.allies-item img:hover {
  transform: scale(1.02);   /* effet zoom léger lorsque la souris survol l'image */
}

/* DESIGN JUSTICE LEAGUE */

#justiceleague {
  margin-top: 40px;
}

#justiceleague .titre {
  text-transform: uppercase;
  font-weight: bold;
  margin : 30px 0;
}

#justiceleague .description {
  margin-bottom: 40px;
  text-align: justify;
  width: 90%;
  font-size: 23px;
}

/* DESIGN DE LA PARTIE MULTIMEDIA */

#multimedia .titre {
  text-transform: uppercase;
  font-weight: bold;
  margin : 30px 0;
}

#multimedia button{
  position: relative;
  top: 175px;
  background: none;
  border: none;
} 

#multimedia button.right{
  right: -85%;
}

#multimedia .slider-multimedia{
  display: flex;
  width: 60%;
  margin: 40px auto;
}

#multimedia .slider-image{
  width: 100%;
}

#multimedia .slider-content{
  padding: 15px;
  background: linear-gradient(50deg,var(--grey-color),var(--blue-color-dark));
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#multimedia .slider-content h2 { 
  font-size: 14px;
} 

#multimedia .slider-content p {
  font-size: 14px;
}

#multimedia .yellow{
  color: var(--yellow-color);
}

#multimedia .image-bande-annonce {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

/* DESIGNE CONTACT */

#contact {
  background: linear-gradient(50deg,var(--grey-color),var(--blue-color-dark));
  padding: 70px 0;
}

#contact .form {
  width: 50%;
  margin: 0 auto;
}

#contact h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 32px;
}

#contact .titre {
  display: block;  
  margin : 28px 0;
}

#contact .form input[type="email"], textarea{
  display: block;
  width: 80%;
  padding: 10px 0;
  border-bottom: 2px solid rgb(116, 114, 114);
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
}

#contact .news {
  border-bottom: 2px solid rgb(116, 114, 114);
  width: 80%;
  margin: 15px 0;
  color: grey;
}


/* MENU DEROULANTE DE LA FREQUENCE DES NEWLETTERS */


.dropdown img {

  transition: transform 0.3s ease;
  width: 16px;
  cursor: pointer; /* <-- important pour signaler l'interaction */
} 

.dropdown img {
  transform: rotate(90deg);
}

.dropdown-menu {
  display: none;
  list-style: none;
  background-color: #2f3a4b;
  border-radius: 6px;
  margin-top: 10px;
  padding: 0;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  overflow: hidden;
  color: white;
  width: 100%;
  
}

.dropdown-menu li {
  padding: 12px 16px;
  border-top: 1px solid rgba(255,255,255,0.1);
  cursor: pointer;
}

.dropdown-menu li:hover { 
  background-color: #3a4a5b;
}

.dropdown:hover .dropdown-menu {
  display: block; /* Affiche le menu déroulant au survol */
}


/* ---------------------------------------------------------------- */

::placeholder {
  color: grey;
}

#contact .actualite, .frequence-news{
  color: grey;
}

.btn-group {
  display: flex;         
  justify-content: flex-start; 
  gap: 10px;             
  margin-left: 0;       
  
}

.form input[type="radio"] {
  opacity: 0;
}

.btn-group label {
  margin: 10px;
  padding: 10px;
  border: 2px solid;
  cursor: pointer;
  font-size: 15px;
    -o-border-image: linear-gradient(
      80deg,rgba(255, 255, 255, 0.411),rgba(54, 54, 203, 0.652)
      )1;
    border-image: linear-gradient(
      80deg,rgba(255, 255, 255, 0.411),rgba(54, 54, 203, 0.652)
      ) 1;

}

.btn-group label:hover {
  transform: scale(1.15);   /* effet zoom léger lorsque la souris survol le boutton*/
  transition: all 0.6s ease; /* animation fluide */
}

 
.form p {
  margin-top: 50px;
}

/* Designe du boutton CONFIRMER */
input[type="submit"]{
    color: var(--white-color);
    border-top: none;
    border-left: none;
    border-right: none;
    display: block;
    width: 230px;
    position: relative;
    top: -25px;
    margin: 25px auto;
    padding: 15px 0;
    cursor: pointer;
    background: linear-gradient(80deg,var(--gradient-white),var(--gradient-red));
}

.btnconfirmer:hover {
  transform: scale(1.15);   /* effet zoom léger lorsque la souris survol le boutton*/
  transition: all 0.6s ease; /* animation fluide */
}


/* DESIGN DE LA CITATION */

#citation {
  margin: 90px;
}

#citation .citation-carte {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

#citation .citation-auteur {
  padding-top: 30px;  
  font-size: 10px;
  font-family: "rajdhani";
  }

#citation .guillemet-fermé {
  float: right;
}

/* DESIGN DU FOOTER */
footer{
  margin-top: 165px; 
  position: relative;
  top: -30px; 
  font-family: "rajdhani";
}

footer .footer-text{
  text-align: center;
  font-size: 10px;
}

.social-footer {
  text-align: center;  
  margin: 50px 0;
  
}

.social-item img{
  border-radius: 90%;
}

.social-item img:hover {

  border: 2px solid var(--yellow-color);
  transform: scale(1.15);   /* effet zoom léger lorsque la souris survol l'image */
  transition: all 0.6s ease; /* animation fluide */
}

footer .social-item {
  padding: 15px;
}




